<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../static/css/style.css"># link to style
</head>

<body>
    <form method="get" action="../static/sigma-simensten.zip"> #download the game
        <button type="submit">Download</button>
    </form>
    <a href="{{ url_for('form') }}"> 
        <button>Submit score</button> #url to go to form after clicking a button
    </a>

</body>

</html>