<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- <iframe src="https://itch.io/embed-upload/12218338?color=333333"  width="1152"
        height="660"><a href="https://phillsearle72.itch.io/simens-playtime">Play simens playtime on itch.io</a></iframe> -->
    <!-- <iframe src="../templates/index.html" width="1152"
        height="660"> play my game!!!</a> -->

    <form method="get" action="../static/sigma-simensten.zip">
        <button type="submit">Download</button>
    </form>

</body>

</html>